/*reset*/
@import "compass/css3";
@import "variables.scss";
@import "mixins.scss";

*[class*="left aligned"] {
    text-align: left;
}

*[class*="center aligned"] {
    text-align: center;
}

*[class*="right aligned"] {
    text-align: right;
}

*[class*="fluid"] {
    width: 100%;
}

/* default reset*/

.clearfix {
    clear: both;

    &:after {
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
    }
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

*[class*="left floated"] {
    float: $left;
}

*[class*="right floated"] {
    float: $right;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/*media query*/
.mobile-only {
    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
}

.tablet-only {
    display: none;

    @include breakpoint(tablet) {
        display: block;
    }
}

.computer-only {
    display: none;

    @include breakpoint(computer) {
        display: block;
    }
}

.largeMonitor-only {
    display: none;

    @include breakpoint(largeMonitor) {
        display: block;
    }
}

.widescreenMonitor-only {
    display: none;

    @include breakpoint(widescreenMonitor) {
        display: block;
    }
}