/* Colors */
$primaryColor: #227a4f;
$secondaryColor: #e9af03;
$black: #000;
$white: #fff;
$heatRed: #ee0101;
$heatGreen: #26a046;

/* Breakpoints */
$mobileBreakpoint: 320px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;
$largeMonitorBreakpoint: 1200px;
$widescreenMonitorBreakpoint: 1920px;

/*element values*/
$left: left;
$right: right;

/*fonts*/
$fontAwesome: "Icons";
$primaryFontRegular: "Roboto", sans-serif;
$pageFont: $primaryFontRegular, sans-serif;
$fontSize: 13px;
$borderColor: rgba(34, 36, 38, 0.15);