/* Colors */
$primaryColor: #227a4f;
$secondaryColor: #e9af03;
$black: #000;
$white: #fff;

/* Breakpoints */
$mobileBreakpoint: 320px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;
$largeMonitorBreakpoint: 1200px;
$widescreenMonitorBreakpoint: 1920px;

/*element values*/
$left: left;
$right: right;

/*fonts*/
$fontAwesome: "Icons";
$primaryFontRegular: "SF-Compact-Text-Regular";
$primaryFontBold: "SF-Compact-Text-Bold";
$pageFont: $primaryFontRegular, "Helvetica Neue", Arial, Helvetica, sans-serif;
$fontSize: 13px;