footer {
    padding-top: 8px;
    clear: both;
    background: #fff;
    padding: 15px;
    border-top: 1px solid $gray;
    text-align: center;
    position: relative;

    @include breakpoint(tablets) {
        text-align: initial;
        border-top: none;
    }


    .outer {
        max-width: 1200px;
        margin: 0 auto;
    }
}