.fintech {
    > .top {
        position: relative;
        background-color: #fff;
        box-shadow: 0px -1px 6px #999;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 98;
        min-height: 45px;

        @include breakpoint(laptops) {
            height: 52px;
            box-shadow: none;
            position: static;
        }


        .outer {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 1rem;

            @include breakpoint(laptops) {
                padding: 0 0;
            }


            .main-nav-button {
                @include use-sprite(menu-icon);

                display: inline-block;
                margin: 14px 14px 0 0;
                background-color: initial;
                border: none;

                @include breakpoint(laptops) {
                    display: none;
                }
            }

            .language {
                height: 20px;
                border: 1px solid $gray;
                background: #f8f8f8;
                padding: 2px 10px 6px;
                margin: 14px 14px 0 0;
                line-height: 10px;

                @extend .bold;

                @include border-radius(3px);

                @include breakpoint(laptops) {
                    display: none;
                }
            }
        }

        .logo {
            @include use-sprite(logo);

            display: inline-block;
            margin: 14px 18px 0 0;
        }

        .sign-in {}

        .main-nav {
            position: fixed;
            background: #fff;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 101;
            display: none;

            a {
                color: $black;
                padding: 17px 15px 0;
                display: block;
                text-align: center;
                font-size: 18px;
                line-height: 30px;

                @include breakpoint(tablets) {
                    display: inline-block;
                    text-align: initial;
                    font-size: inherit;
                    line-height: inherit;
                    color: lighten($black, 50%);
                }


                &:hover {
                    color: $black;
                }
            }

            .lang {
                font-family: $font-ar-bold;
                padding-right: 0;
            }

            .active {
                font-weight: $font-weight-medium;

                @include breakpoint(tablets) {
                    color: $primary-color;
                    font-weight: initial;
                }


                &:hover {
                    color: $primary-color;
                    cursor: default;
                }
            }

            @include breakpoint(tablets) {
                position: static;
                padding: 0;
                display: block;
            }


            .main-nav-header {
                @include breakpoint(laptops) {
                    display: none;
                }


                .menu-title {
                    margin: 14px 0px 0px 14px;
                    font-size: 16px;
                    font-weight: $font-weight-medium;
                }

                .main-nav-close {
                    background: none;
                    border: none;
                    margin: 14px 14px 0 0;
                    font-size: 18px;
                    padding: 0;
                    width: 20px;
                }
            }

            .share-options {
                @include breakpoint(laptops) {
                    display: none;
                }
            }

            .menu-holder {
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .tabs-home {
            border-bottom-color: #fff !important;

            .item {
                width: 33.3%;
                position: relative;
                padding-left: 35px !important;

                i {
                    content: '';
                    position: absolute;
                    left: 10px;
                }

                &:not(.active) {
                    @extend .grayscale;
                }
            }

            @include breakpoint(laptops) {
                display: none;
            }
        }
    }
}

.menu-open {
    .main-nav {
        display: block !important;
    }

    .language {
        position: relative;
        z-index: 102;
    }
}