.fintech {
    > .top {
        a {
            padding-top: 20px;
        }

        .logo {
            margin: 14px 0px 0 18px;
        }

        .lang {
            line-height: 23px;
            top: -1px;
        }
    }
}