.fintech {
    > .top {
        height: 52px;
        position: relative;
        background-color: #fff;

        .outer {
            max-width: 1200px;
            margin: 0 auto;

            @include breakpoint(laptops) {
                width: 96%;
            }
        }

        .menu-nav {
            padding: 0 20px;
            height: 55px;
            line-height: 55px;
            position: relative;

            &:before {
                content: '';
                background-color: darken($primary-color, 5%);

                @include transition-property(transform);

                @include transition-timing-function(ease-out);

                @include transition-duration(0.2s);

                @include transform-origin(0, 50%);

                @include transform(scaleX(0));

                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &:hover {
                &:before {
                    @include transform(scaleX(1));
                }
            }

            &:after {
                content: '\f177';
                font-family: $fontAwesome;
                font-size: 17px;
                display: inline-block;
                color: $white;
                cursor: pointer;

                @include transform(rotate(0deg));

                @include transition(all ease-out 0.2s);
            }

            &.expand {
                &:after {
                    content: '\f0b0';
                    font-size: 20px;

                    @include transform(rotate(-360deg));

                    @include transition(all ease-out 0.2s);
                }
            }
        }

        .logo {
            @include use-sprite(logo);

            display: inline-block;
            margin: 14px 18px 0 0;
        }

        .sign-in {}

        a {
            color: lighten($black, 50%);
            padding: 17px 15px 0;
            display: inline-block;

            &:hover {
                color: $black;
            }
        }

        .lang {
            font-family: $font-ar-bold;
            padding-right: 0;
        }

        .active {
            color: $primary-color;

            &:hover {
                color: $primary-color;
                cursor: default;
            }
        }
    }
}