.fintech {
    > .top {
        position: relative;
        background-color: #011e3c;
        box-shadow: 0px -1px 6px #999;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 98;
        min-height: 45px;

        @include breakpoint(desktops) {
            height: 52px;
            box-shadow: none;
            position: static;
        }


        .lang {
            display: none;

            @include breakpoint(desktops) {
                display: inline-block;
                font-family: $font-ar-bold;
                color: #fff;
                margin: 15px 0 0 0;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .outer {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 1rem;

            @include breakpoint(desktops) {
                padding: 0 0;
            }


            .main-nav-button {
                @include use-sprite(menu-icon);

                display: inline-block;
                margin: 14px 10px 0 0;
                background-color: initial;
                border: none;

                @include breakpoint(desktops) {
                    display: none;
                }
            }

            .language {
                height: 24px;
                border: 1px solid $gray;
                background: #f8f8f8;
                padding: 3px 10px 7px;
                margin: 11px 10px 0 0;
                line-height: 10px;

                @extend .bold;

                @include border-radius(3px);

                @include breakpoint(desktops) {
                    display: none;
                }
            }
        }

        .logo {
            @include use-sprite(logo);

            display: inline-block;
            margin: 18px 0px 0 0;

            @include breakpoint(desktops) {
                margin: 18px 12px 0 0;
            }
        }

        .main-nav {
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 101;
            display: none;
            padding: 0em 1em;
            background: #fff;

            @include breakpoint(desktops) {
                position: static;
                padding: 0;
                display: block;
                background: none;
            }


            .user-actions {
                width: 100%;
                position: relative;

                > a {
                    color: $white;
                    padding: 17px 15px 0;
                    display: block;
                    text-align: center;
                    font-size: rem(18);
                    line-height: 30px;
                    color: $black;

                    @include breakpoint(desktops) {
                        display: inline-block;
                        text-align: initial;
                        font-size: inherit;
                        line-height: inherit;
                        color: $white;
                    }


                    &:hover {
                        color: $primary-color;
                    }
                }

                @include breakpoint(desktops) {
                    width: auto;
                }


                .user-popup {
                    background-color: #fff;

                    @include border-radius(3px);

                    @include box-shadow(0 3px 4px rgba(0, 0, 0, 0.2));

                    border: 0;
                    top: 46px;
                    right: 0;

                    /*  min-width: 160px;*/

                    padding: 6px 0;
                    margin-right: -10px;

                    .item {
                        color: #000;
                        list-style-type: none;
                        margin: 0;
                        padding: 0 !important;
                        display: block;

                        .fa {
                            margin-right: 12px;
                        }

                        a {
                            padding: 8px 22px;
                            display: block;
                            color: #000;
                            display: block;

                            &:hover {
                                background-color: $primary-color;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .holder {
                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        display: block;
                        margin: 9px 0px 0;

                        @include breakpoint(desktops) {
                            display: inline-block;
                        }


                        &:hover {
                            a {}
                        }

                        i.icon {
                            margin: 0 0 0 4px;
                        }

                        a {
                            color: $black;
                            padding: 8px 15px;
                            text-align: center;
                            font-size: rem(18);
                            line-height: 30px;
                            cursor: pointer;
                            display: block;
                            border-radius: 3px;

                            @include breakpoint(desktops) {
                                text-align: initial;
                                font-size: inherit;
                                line-height: inherit;
                                color: $white;
                            }


                            &:hover {
                                color: $primary-color;
                            }
                        }

                        .active {
                            font-weight: $font-weight-medium;

                            @include breakpoint(desktops) {
                                color: $primary-color;
                                font-weight: initial;
                            }


                            &:hover {
                                color: $primary-color;
                                cursor: default;
                            }
                        }

                        &.sub {
                            position: relative;

                            ul {}
                        }

                        &:hover {
                            ul {
                                max-height: 600px;
                                transition: max-height 0.5s ease-in;
                            }
                        }

                        ul {
                            position: absolute;
                            width: 100%;
                            min-width: 180px;
                            left: 0;
                            top: 46px;
                            background: #fff;
                            z-index: 95;
                            box-shadow: 0 4px 3px 0 rgba(34, 36, 38, 0.15);
                            max-height: 0;
                            transition: max-height 0.2s ease-out;
                            overflow: hidden;

                            @include border-radius(3px);

                            @include breakpoint(desktops) {
                                top: 34px;
                            }


                            li {
                                display: block;
                                margin: 0;

                                a {
                                    padding: 8px 12px;
                                    display: block;
                                    border-radius: 0;
                                    color: $black;
                                }

                                + li {
                                    border-top: 1px solid #FAFAFA;
                                }

                                &:hover {
                                    a {
                                        background: #f2f2f2;
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .share-options {
                @include breakpoint(desktops) {
                    display: none;
                }
            }

            .menu-holder {
                margin-top: 20%;

                @include breakpoint(upto-tablets) {
                    width: 100%;
                }
            }

            .overlay-title {
                @include breakpoint(desktops) {
                    display: none;
                }
            }
        }

        .tabs-home {
            border-bottom-color: #fff !important;
            padding: 0 1em;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;

            .item {
                position: relative;
                padding: 0 0em 0.8em  !important;
                padding-left: 25px !important;
                font-size: rem(16);
                font-weight: $font-weight-medium;
                color: #ccc;

                &.active {
                    color: #fff !important;
                }

                &.questions {
                    padding-left: 30px !important;
                }

                i {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: -2px;
                }

                &:not(.active) {
                    opacity: 0.7;
                }

                @include breakpoint(small-mobiles) {
                    font-size: rem(13);
                }
            }

            @include breakpoint(desktops) {
                display: none;
            }


            &:after {
                display: none;
            }
        }
    }
}

body.no-scroll {
    overflow: hidden;
    position: fixed;
}

.menu-open {
    .main-nav {
        display: block !important;
    }

    .language {
        position: relative;
        z-index: 102;
    }
}