.fintech {
    > .top {
        .logo {
            margin: 14px 0px 0 18px;
        }

        .lang {
            padding-left: 0;
            font-family: $base-font;
            font-weight: 500;
        }
    }
}