dist/elements/
dist/modules/
dist/themes/basic/
dist/themes/github/
dist/themes/material/
dist/views/
dist/default.css
dist/mixins.css
dist/variables.css
tasks/

dist/amazon/
dist/basic/
dist/bookish/
dist/bootstrap3/
dist/chubby/
dist/classic/
dist/colored/
dist/duo/
dist/fixed-width/
dist/flat/
dist/github/
dist/gmail/
dist/instagram/
dist/material/
dist/pulsar/
dist/raised/
dist/resetcss/
dist/round/
dist/rtl/
dist/striped/
dist/timeline/
dist/twitter/
/.sass-cache
/q1_aggregate-ar.html
/Q4_1-ar.html
/index-ar.html
/Q7-ar.html
/Q_RSI-1.1.html

.idea/