dist/elements/
dist/modules/
dist/themes/basic/
dist/themes/github/
dist/themes/material/
dist/views/
dist/default.css
dist/mixins.css
dist/variables.css
tasks/

dist/amazon/
dist/basic/
dist/bookish/
dist/bootstrap3/
dist/chubby/
dist/classic/
dist/colored/
dist/duo/
dist/fixed-width/
dist/flat/
dist/github/
dist/gmail/
dist/instagram/
dist/material/
dist/pulsar/
dist/raised/
dist/resetcss/
dist/round/
dist/rtl/
dist/striped/
dist/timeline/
dist/twitter/
/.sass-cache
/q1_aggregate-ar.html
/Q4_1-ar.html
/index-ar.html
/Q7-ar.html
/Q_RSI-1.1.html
/landing-old.html

.idea/

dist/themes/default/assets/images/flags-2x/
dist/themes/default/assets/images/flags/
dist/themes/default/assets/images/icons-2x/
dist/themes/default/assets/images/icons/
dist/themes/default/assets/images/screens/
dist/themes/default/assets/images/screens/
src/themes/amazon/
src/themes/basic/
src/themes/bookish/
src/themes/bootstrap3/
src/themes/chubby/
src/themes/classic/
src/themes/colored/
src/themes/duo/
src/themes/fixed-width/
src/themes/flat/
src/themes/github/
src/themes/gmail/
src/themes/instagram/
src/themes/material/
src/themes/pulsar/
src/themes/raised/
src/themes/resetcss/
src/themes/round/
src/themes/rtl/
src/themes/striped/
src/themes/timeline/
src/themes/twitter/