/*******************************
         Site Overrides
*******************************/
.fintech {
    .ui.table {
        border: 0;

        .value-arrow {
            font-size: 18px;

            &.red {
                color: #DB2828;
            }

            &.green {
                color: #21BA45;
            }

            .icon {
                font-size: 24px;
            }
        }
    }
}