.fintech {
    .ui.table {
        border: 0;

        /*@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.07));*/

        thead {
            th {
                background: transparent;
                padding: 0 rem(6) rem(6) rem(6);
                border-bottom-color: #cdcdcd;
            }

            &.sub {
                background-color: #f7f7f7;

                th {
                    padding: rem(6);
                }
            }

            + thead ~ thead {
                th {
                    border-top: 1px solid #cdcdcd;
                }
            }
        }

        tr {
            td {
                padding: rem(8);
                border-top-color: $borderColor;
            }

            &.highlight {
                &.today {
                    background-color: #f5ffff;

                    td {
                        border-top: 1px solid #00b5ad;
                        border-bottom: 1px solid #00b5ad;
                        position: relative;

                        &:first-child {
                            &:before {
                                content: '';
                                position: absolute;
                                left: -7px;
                                top: -1px;
                                background: #00b5ad;
                                width: 14px;
                                height: 42px;

                                @include border-radius(3px 0 0 3px);
                            }

                            &:after {
                                content: 'Today';
                                position: absolute;
                                left: 1px;
                                top: 27px;
                                color: #fff;

                                @include rotate(-90deg);

                                @include transform-origin(left);

                                font-size: 9px;
                                text-transform: uppercase;
                                font-family: arial;
                                letter-spacing: 0.5px;
                            }
                        }

                        &:last-child {
                            border-right: 1px solid #00b5ad;

                            @include border-radius(0 4px 4px 0);
                        }
                    }
                }
            }

            &.expanded {
                td {
                    border-bottom: 1px solid #ccc;
                    background-color: $lightGray;
                }
            }
        }

        .value-arrow {
            font-size: rem(18);

            &.red {
                color: #DB2828;
            }

            &.green {
                color: #21BA45;
            }

            .icon {
                font-size: rem(24);
            }
        }
    }
}