.fintech {
    .ui.table {
        thead {
            th {
                i.up-chart {
                    @include breakpoint(desktops) {
                        margin: 0 0px 0 3px;
                    }
                }
            }
        }

        tr {
            &.highlight {
                .today {
                    &:first-child {
                        span {
                            &:before {
                                right: -16px;

                                @include triangle(5px, left, $secondary-color);

                                border-right-width: 10px;
                                border-left-width: 0;
                                left: auto;
                            }

                            &:after {
                                right: -26px;

                                @include border-radius(2px);
                            }
                        }
                    }
                }
            }
        }
    }
}