/*element values*/
$left: right;
$right: left;

html {
    font-size: 13px;
}

body {
    font-family: Arial;
    color: #585858;
    background: #fff;
    direction: rtl;
    font-size: rem(12);
    line-height: rem(18);

    /*line-height: normal;*/

    @include breakpoint(desktops) {
        background: #f6f6f6;
    }
}

a {
    &:hover {
        color: $secondary-color;
    }
}

h1, h2, h3, h4, h5 {
    margin: 0;

    /* font-family: $font-ar-bold;*/

    /*line-height: normal;*/
}

.bold, strong, b {
    /*font-family: $font-ar-bold;*/
}

.header {
    font-family: $font-ar-bold;
}

.custom-font {
    font-family: $font-ar;
}

th {
    font-weight: bold;
    font-size: rem(14);
}

form {
    margin: 0;
}

*[class*="left aligned"] {
    text-align: right;
}

*[class*="center aligned"] {
    text-align: center;
}

*[class*="right aligned"] {
    text-align: left;
}

*[class*="fluid"] {
    width: 100%;
}

*[class*="left floated"] {
    float: $left;
}

*[class*="right floated"] {
    float: $right;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.no-wrap {
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

.clearfix {
    clear: both;

    &:after {
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
    }
}

.bold {
    font-weight: bold;
}