.column {
    > h2 {
        padding-right: 20px;
        font-weight: $font-weight-regular;
        color: #000000;
        font-size: rem(22);

        /*padding-top: 3px;*/
    }
}

.anchor-canvas {
    padding: 6px 15px;
}

.indent-6 {
    text-indent: rem(6);
}

.ui.segment {
    border: 0;
}

.ui.breadcrumb {
    width: 100%;
    max-width: 1200px;
    text-align: right;
    padding: 0px 0 20px 0;
    position: relative;
    bottom: -3px;
    z-index: 9;

    @include breakpoint(desktops) {
        padding: 13px 0 0 0;
    }
}

.ui.popup {
    padding: 15px;

    > .header {
        border-bottom: 1px solid $border-color;
        padding-bottom: 5px;
        font-size: rem(16);
    }
}

.graph-title {
    color: #000;
    text-align: center;
    font-weight: $font-weight-regular;
    font-size: 20px;
    margin-top: 24px !important;
}

/*color scale*/
.color-scale {
    height: 5px;
    position: relative;
    margin: 8px 36px 20px 30px;
    text-align: center;

    .value {
        position: absolute;
        padding: 12px 0 0;
        font-size: rem(11);
        font-weight: $font-weight-regular;
        top: -19px;

        &:before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 15px;
            position: absolute;
            top: -5px;
        }

        &.left {
            right: -33px;

            &:before {
                right: 33px;
                top: 14px;
            }
        }

        &.right {
            left: -30px;

            &:before {
                left: 30px;
                top: 14px;
            }
        }

        &.no-change {
            left: 0;
            right: 0;
            margin: 0 auto;
            pointer-events: none;
        }

        &.red:before {
            background-color: #b60101;
        }

        &.green:before {
            background-color: #1b7332;
        }
    }

    .bg {
        display: inline-block;
        width: (100% / 41);
        height: 5px;
        float: right;
        padding: 0;
        margin: 0;
        min-height: 5px;

        @include border-radius(0);

        &:first-child {
            @include border-radius(5px 0 0 5px);
        }

        &:last-child {
            @include border-radius(0 5px 5px 0);
        }
    }
}

/*text colors*/
.color {
    &.red {
        color: $red;
    }

    &.green {
        color: $green;
    }

    &.gray {
        color: $gray;
    }

    &.light-gray {
        color: $light-gray;
    }

    &.dark-gray {
        color: $dark-gray;
    }

    &.primary {
        color: $primary-color;
    }

    &.secondary {
        color: $secondary-color;
    }
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*loader*/
.loading {
    text-align: center;

    .loader {
        padding: 50px 0;
    }

    img {
        height: 35px;
    }
}

/*market value bg styles*/
.m-value-bg {
    background-color: #efeeee;
    display: block;
    padding: rem(4);
    text-align: center;
    display: inline-block;
    min-width: 68px;
    font-weight: $font-weight-regular;
    white-space: nowrap;

    @include border-radius(3px);
}

.bg {
    &.red-5 {
        background-color: lighten($heatRed, 50%) !important;
    }

    &.red-10 {
        background-color: lighten($heatRed, 47%) !important;
    }

    &.red-15 {
        background-color: lighten($heatRed, 44%) !important;
    }

    &.red-20 {
        background-color: lighten($heatRed, 41%) !important;
    }

    &.red-25 {
        background-color: lighten($heatRed, 38%) !important;
    }

    &.red-30 {
        background-color: lighten($heatRed, 35%) !important;
    }

    &.red-35 {
        background-color: lighten($heatRed, 32%) !important;
    }

    &.red-40 {
        background-color: lighten($heatRed, 29%) !important;
        color: #fff;
    }

    &.red-45 {
        background-color: lighten($heatRed, 26%) !important;
        color: #fff;
    }

    &.red-50 {
        background-color: lighten($heatRed, 23%) !important;
        color: #fff;
    }

    &.red-55 {
        background-color: lighten($heatRed, 20%) !important;
        color: #fff;
    }

    &.red-60 {
        background-color: lighten($heatRed, 17%) !important;
        color: #fff;
    }

    &.red-65 {
        background-color: lighten($heatRed, 14%) !important;
        color: #fff;
    }

    &.red-70 {
        background-color: lighten($heatRed, 11%) !important;
        color: #fff;
    }

    &.red-75 {
        background-color: lighten($heatRed, 8%) !important;
        color: #fff;
    }

    &.red-80 {
        background-color: lighten($heatRed, 5%) !important;
        color: #fff;
    }

    &.red-85 {
        background-color: darken($heatRed, 2%) !important;
        color: #fff;
    }

    &.red-90 {
        background-color: darken($heatRed, 5%) !important;
        color: #fff;
    }

    &.red-95 {
        background-color: darken($heatRed, 8%) !important;
        color: #fff;
    }

    &.red-100 {
        background-color: darken($heatRed, 11%) !important;
        color: #fff;
    }
}

.bg {
    &.green-5 {
        background-color: lighten($heatGreen, 50%) !important;
    }

    &.green-10 {
        background-color: lighten($heatGreen, 47%) !important;
    }

    &.green-15 {
        background-color: lighten($heatGreen, 44%) !important;
    }

    &.green-20 {
        background-color: lighten($heatGreen, 41%) !important;
    }

    &.green-25 {
        background-color: lighten($heatGreen, 38%) !important;
    }

    &.green-30 {
        background-color: lighten($heatGreen, 35%) !important;
    }

    &.green-35 {
        background-color: lighten($heatGreen, 32%) !important;
    }

    &.green-40 {
        background-color: lighten($heatGreen, 29%) !important;
    }

    &.green-45 {
        background-color: lighten($heatGreen, 26%) !important;
    }

    &.green-50 {
        background-color: lighten($heatGreen, 23%) !important;
    }

    &.green-55 {
        background-color: lighten($heatGreen, 20%) !important;
    }

    &.green-60 {
        background-color: lighten($heatGreen, 17%) !important;
    }

    &.green-65 {
        background-color: lighten($heatGreen, 14%) !important;
        color: #fff;
    }

    &.green-70 {
        background-color: lighten($heatGreen, 11%) !important;
        color: #fff;
    }

    &.green-75 {
        background-color: lighten($heatGreen, 8%) !important;
        color: #fff;
    }

    &.green-80 {
        background-color: lighten($heatGreen, 5%) !important;
        color: #fff;
    }

    &.green-85 {
        background-color: darken($heatGreen, 2%) !important;
        color: #fff;
    }

    &.green-90 {
        background-color: darken($heatGreen, 5%) !important;
        color: #fff;
    }

    &.green-95 {
        background-color: darken($heatGreen, 8%) !important;
        color: #fff;
    }

    &.green-100 {
        background-color: darken($heatGreen, 11%) !important;
        color: #fff;
    }

    &.no-change {
        background-color: #efeeee !important;
        color: #000;
    }

    &.light-gray {
        background-color: #f7f7f7;
    }
}

/*aggregate cahrt left right arrows*/
.aggregate-chart {
    width: 100%;
    direction: ltr;

    .column {
        width: 50%;
        float: left;
        height: 50px;
        position: relative;

        @include breakpoint(desktops) {
            height: 80px;
        }


        .arrow {
            height: 20px;
            margin: 15px 0;
            position: relative;
            z-index: 1;
            max-width: 100% !important;
            -webkit-animation: w70 1s ease forwards;

            @include breakpoint(desktops) {
                height: 50px;
                margin: 16px 0;
            }


            &:after {
                border-left-width: 8px;
                border-top-width: 10px;
                border-bottom-width: 10px;
                border-right-width: 8px;
                border-style: solid;
                border-top-color: transparent;
                border-bottom-color: transparent;
                position: absolute;
                top: 0px;

                @include breakpoint(desktops) {
                    border-left-width: 15px;
                    border-top-width: 25px;
                    border-bottom-width: 25px;
                    border-right-width: 15px;
                }
            }

            .value {
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                display: inline-block;
                height: 19px;
                font-size: rem(16);
                white-space: nowrap;
                fomt-weight: $font-weight-light;

                @include breakpoint(desktops) {
                    font-size: rem(26);
                }
            }
        }

        &.no-change {
            color: #000;
            border-right: 4px solid #ccc;
            right: -2px;
            position: relative;

            .arrow {
                width: 100% !important;

                .value {
                    right: auto;
                    left: 100%;
                    padding-left: 10px;
                }
            }
        }

        &.up {
            float: right;
            border-left: 4px solid $green;
            left: -2px;
            padding-right: 12px;

            &:before {
                right: 0;
                top: 16px;
                bottom: 14px;
            }

            .arrow {
                background: $green;

                &:after {
                    content: "";
                    width: 0;
                    height: 0px;
                    border-left-color: $green;
                    border-right: 0;
                    left: 100%;
                }

                .value {
                    color: $green;
                    right: 100%;
                    left: auto;
                    padding-right: 10px;
                }
            }
        }

        &.down:before, &.up:before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 100%;
            background-color: $light-gray;
        }

        &.down:after, &.up:after {
            border-left-width: 8px;
            border-top-width: 10px;
            border-bottom-width: 10px;
            border-right-width: 8px;
            border-style: solid;
            border-top-color: #fff;
            border-bottom-color: #fff;
            position: absolute;
            top: 0px;
            content: '';
            color: $light-gray;

            @include breakpoint(desktops) {
                border-left-width: 15px;
                border-top-width: 25px;
                border-bottom-width: 25px;
                border-right-width: 15px;
            }
        }

        &.up:after {
            border-right-width: 0;
            right: -1px;
            top: 16px;
        }

        &.down:after {
            border-left-width: 0;
            left: -1px;
            top: 16px;
        }

        &.down {
            border-right: 4px solid $red;
            position: relative;
            right: -2px;
            padding-left: 12px;

            &:before {
                left: 0;
                top: 16px;
                bottom: 14px;
            }

            .arrow {
                background: $red;
                float: right;

                &:after {
                    content: "";
                    width: 0;
                    height: 0px;
                    border-right-color: $red;
                    border-left: 0;
                    right: 100%;
                }

                .value {
                    color: $red;
                    left: 100%;
                    right: auto;
                    padding-left: 10px;
                }
            }
        }
    }
}

.floating {
    position: fixed;
    z-index: 96;

    &.button {
        @include box-shadow(1px 1px 4px rgba(101, 119, 134, 0.75));

        &.secondary {
            @include box-shadow(1px 1px 4px rgba(101, 119, 134, 0.75));
        }

        &.right {
            right: 15px;
        }

        &.top {
            top: 20px;
        }

        &.bottom {
            bottom: 20px;
        }

        &.left {
            left: 15px;
        }
    }
}

.mobile-only {
    @include breakpoint(desktops) {
        display: none !important;
    }
}

.desktop-only {
    @include breakpoint(upto-tablets) {
        display: none !important;
    }
}

.clickable-digit {
    position: relative;
    border-bottom: 1px solid #caeef6;
    display: inline-block;
    min-width: 24px;
    border-radius: 3px;
    padding: 0px 1px 0px 1px;
    font-weight: $font-weight-regular;
}

.clickable-digit:before {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#caeef6), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #caeef6);
    background-image: -moz-linear-gradient(transparent, #caeef6);
    background-image: -o-linear-gradient(transparent, #caeef6);
    background-image: linear-gradient(transparent, #caeef6);
    top: 0px;
    bottom: 0px;
    width: 24px;
    z-index: 1;
    left: 0;
    right: 0;
    border-radius: 3px;
}

.clickable-digit span {
    z-index: 2;
    display: block;
    background: #fff;
    position: relative;
    border-radius: 3px;
    padding-bottom: 2px;
}

.clickable-digit:hover span {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #f8f8f8);
    background-image: -moz-linear-gradient(transparent, #f8f8f8);
    background-image: -o-linear-gradient(transparent, #f8f8f8);
    background-image: linear-gradient(transparent, #f8f8f8);
    color: $primary-color;
}

.hr-scroll-container {
    @include breakpoint(upto-tablets) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.no-results {
    min-height: 300px;
    padding: 55px 0;

    .ico {
        margin: 0 0 50px 0;
    }

    h4 {
        font-size: rem(28);
        color: $primary-color;
        font-weight: $font-weight-regular;
        margin: 0px 0 10px 0;
    }

    p {
        color: $dark-gray;
        font-size: rem(16);
    }
}

.no-results-container {
    position: relative;

    > section {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto !important;
        height: 445px;
    }
}

.direction {
    direction: ltr;
}

.bracket-fix {
    display: inline-block;
}

.box-shadow-bottom {
    box-shadow: 0 4px 4px 0 rgba(34, 36, 38, 0.12), 0 6px 10px 0 rgba(34, 36, 38, 0.15);
}

::-webkit-input-placeholder {
    /* Chrome */
    color: $gray;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $gray;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $gray;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: $gray;
    opacity: 1;
}

i.icon.angle.right:before {
    content: "\f104";
}

.indented-list {
    .item {
        margin-right: 10px;
    }
}

.pop-up-slide {
    @include breakpoint(upto-tablets) {
        position: fixed !important;
        top: 90px;
        left: -105%;
        bottom: 0;
        width: 100%;
        background: #fff;
        z-index: 100;
        overflow: auto;
        padding: 12px !important;
        direction: rtl;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.19);
    }
}

.ease {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

body.pop-up-slide-opened {
    overflow: hidden;
    position: fixed;
}

.pop-up-slide-opened .pop-up-slide {
    left: 0;
}

.pop-up-slide-tirgger {
    z-index: 101;
    position: fixed;
    top: 55%;
    left: 0;
    background: $secondary-color;
    width: 30px;
    height: 104px;
    text-align: center;
    font-weight: $font-weight-regular;

    .text {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        color: #fff;
        top: 44px;
        right: -27px;
        position: absolute;
        font-size: 16px;
        white-space: nowrap;
    }
}