@font-face {
    font-family: 'Greta_Arabic_Regular';
    src: url("themes/default/assets/fonts/Greta_Arabic_Regular.eot");
    src: url("themes/default/assets/fonts/Greta_Arabic_Regular.eot?#iefix") format("embedded-opentype"), url("themes/default/assets/fonts/Greta_Arabic_Regular.woff2") format("woff2"), url("themes/default/assets/fonts/Greta_Arabic_Regular.woff") format("woff"), url("themes/default/assets/fonts/Greta_Arabic_Regular.ttf") format("truetype"), url("themes/default/assets/fonts/Greta_Arabic_Regular.svg#Greta_Arabic_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greta_Arabic_Bold';
    src: url("themes/default/assets/fonts/Greta_Arabic_Bold.eot");
    src: url("themes/default/assets/fonts/Greta_Arabic_Bold.eot?#iefix") format("embedded-opentype"), url("themes/default/assets/fonts/Greta_Arabic_Bold.woff2") format("woff2"), url("themes/default/assets/fonts/Greta_Arabic_Bold.woff") format("woff"), url("themes/default/assets/fonts/Greta_Arabic_Bold.ttf") format("truetype"), url("themes/default/assets/fonts/Greta_Arabic_Bold.svg#Greta_Arabic_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fintech_Arabic_Regular';
    src: url("themes/default/assets/fonts/Fintech_Arabic_Regular.eot");
    src: url("themes/default/assets/fonts/Fintech_Arabic_Regular.eot?#iefix") format("embedded-opentype"), url("themes/default/assets/fonts/Fintech_Arabic_Regular.woff2") format("woff2"), url("themes/default/assets/fonts/Fintech_Arabic_Regular.woff") format("woff"), url("themes/default/assets/fonts/Fintech_Arabic_Regular.ttf") format("truetype"), url("themes/default/assets/fonts/Fintech_Arabic_Regular.svg#Fintech_Arabic_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fintech_Arabic_Bold';
    src: url("themes/default/assets/fonts/Fintech_Arabic_Bold.eot");
    src: url("themes/default/assets/fonts/Fintech_Arabic_Bold.eot?#iefix") format("embedded-opentype"), url("themes/default/assets/fonts/Fintech_Arabic_Bold.woff2") format("woff2"), url("themes/default/assets/fonts/Fintech_Arabic_Bold.woff") format("woff"), url("themes/default/assets/fonts/Fintech_Arabic_Bold.ttf") format("truetype"), url("themes/default/assets/fonts/Fintech_Arabic_Bold.svg#Fintech_Arabic_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}