.fintech {
    .coming-soon-page {
        background: url(themes/default/assets/images/coming-soon-bg.jpg) no-repeat 0 0;
        background-size: cover;

        /*min-height: 800px;*/
        position: relative;
        margin: -1em;

        @include breakpoint(desktops) {
            margin: initial;
        }


        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #4fadc5;

            @include opacity(0.8);
        }

        .clock-holder {
            position: absolute;
            margin: auto;
            width: 300px;
            height: 300px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;

            @include breakpoint(desktops) {
                width: 460px;
                height: 460px;
            }


            #clock {
                position: relative;
                width: 300px;
                height: 300px;
                margin: auto;
                background: url(themes/default/assets/images/clock.png) no-repeat center center;
                list-style: none;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-size: 100%;

                @include breakpoint(desktops) {
                    width: 460px;
                    height: 460px;
                }

                @include opacity(0.9);
            }

            #sec, #min, #hour {
                position: absolute;
                width: 30px;
                height: 600px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;

                @include breakpoint(desktops) {
                    height: 600px;
                }
            }

            #sec {
                background: url(themes/default/assets/images/sechand.png);
                z-index: 3;
            }

            #min {
                background: url(themes/default/assets/images/minhand.png);
                z-index: 2;
            }

            #hour {
                background: url(themes/default/assets/images/hourhand.png);
                z-index: 1;
            }
        }

        .holder {
            margin: auto;
            width: 80%;
            height: 185px;
            text-align: center;
            color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: rem(18);
            z-index: 90;

            @include breakpoint(desktops) {
                width: 400px;
                height: 232px;
            }


            @include opacity(0.7);

            p {
                margin: 0;
            }

            h3 {
                font-size: rem(60);
                line-height: 60px;
                padding-bottom: 10px;

                @include breakpoint(desktops) {
                    font-size: rem(90);
                    line-height: 84px;
                }
            }
        }
    }

    .calendar-table {
        .fa-circle
        + .fa-circle {
            margin: 0 4px 0 0px;
        }
    }

    .consecutive-calendar {
        .column > h2 {
            width: 100%;
            padding-top: 3px;
        }
    }

    .calendar-table-view-btns {
        background-color: #fff;

        @include border-radius(5px);

        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.07));

        font-size: rem(15);
        display: inline-block;
        float: left;

        a {
            display: inline-block;
            width: 30px;
            height: 28px;
            line-height: 28px;
            float: right;
            text-align: center;
            position: relative;

            &:hover {
                color: $primary-color;

                i {
                    @include opacity(0.7);
                }
            }

            i {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }
        }

        .calendar {
            @include border-radius(5px 0 0 5px);

            i {
                @include use-sprite(calendar_blue);

                right: 1px;
            }

            &.active {
                i {
                    @include use-sprite(calendar_white);
                }
            }
        }

        .table {
            font-size: rem(16);
            line-height: 32px;

            @include border-radius(0 5px 5px 0);

            i {
                @include use-sprite(table_blue);

                top: 1px;
            }

            &.active {
                i {
                    @include use-sprite(table_white);
                }
            }
        }

        .active {
            background-color: $primary-color;
            color: #fff;
            cursor: pointer;

            &:hover {
                color: #fff;
            }
        }
    }

    .ui-resizable {
        position: relative;
    }

    .q7 {
        .row > {
            .column {
                &:last-child {
                    padding: 0 0 0 200px !important;

                    .title {
                        margin-right: -200px !important;
                    }
                }
            }
        }
    }

    .ui-resizable-handle {
        position: absolute;
        font-size: 0.1px;
        display: block;
    }

    .ui-resizable-e {
        cursor: e-resize;
        width: 10px;
        left: -15px;
        top: 90px;
        height: 35px;
        width: 15px;
        background: #fff;

        @include border-radius(0 5px 5px 0);

        @include box-shadow(3px 5px 6px -5px #000);

        &:before {
            position: absolute;
            content: '';
            height: 60%;
            left: 5px;
            margin-top: 7px;
            border-left: 1px solid #cccccc;
            padding-right: 1px;
            border-right: 1px solid #cccccc;
        }

        &:after {
            position: absolute;
            content: '';
            height: 60%;
            right: 9px;
            margin-top: 7px;
            border-right: 1px solid #cccccc;
        }

        &:hover {
            background-color: #e6e6e6;

            &:before, &:after {
                border-color: #aeaeae;
            }
        }
    }

    .content-container {
        > .ui.content.container {
            max-width: 1200px !important;
            position: relative;
            padding: 20px 0;

            @include breakpoint(upto-tablets) {
                padding: 0;
                margin: 0 !important;
            }
        }

        @include breakpoint(upto-tablets) {
            padding: 0;
            margin-left: 1em !important;
            margin-right: 1em !important;
            width: auto !important;
        }
    }

    .column {
        > .content {
            background-color: #fff;

            @include breakpoint(desktops) {
                padding: 20px;

                @include border-radius(6px);

                @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.07));
            }


            .hint {
                display: block;
                text-align: left;
                font-size: rem(12);
                position: relative;
                top: 2px;
            }

            &.event-aggregate-chart {
                > .row {
                    border: 1px solid $border-color;

                    &.head {
                        @include breakpoint(desktops) {
                            height: 40px;
                            border: 0;
                        }


                        > .column {
                            height: inherit;
                        }
                    }

                    > .column {
                        height: 50px;

                        @include breakpoint(desktops) {
                            text-align: center;
                            height: 70px;
                            width: 200px;
                        }


                        &:first-child {
                            padding: 10px 10px 0 0px;
                            text-align: right;
                            font-size: rem(15);

                            @include breakpoint(small-mobiles) {
                                font-size: rem(12);
                            }


                            @include breakpoint(desktops) {
                                padding: 20px 22px 0 0px;
                            }
                        }

                        &:last-child {
                            width: auto;
                            border: none;
                            padding: 0;
                            padding: 0 20% 0 35%;

                            @include breakpoint(desktops) {
                                padding: 0 200px;
                                float: none;
                                margin-left: auto;
                            }
                        }

                        &.no-border {
                            border: none;
                        }

                        span {
                            display: block;

                            @include breakpoint(desktops) {
                                display: inline-block;
                            }


                            + span {
                                font-weight: $font-weight-medium;
                            }
                        }

                        .donut-holder {
                            width: 20px;
                            height: 20px;
                            margin: 0 auto;
                            float: right;
                            margin: 10px 15px 0 0px;

                            @include breakpoint(desktops) {
                                margin: 14px 45px 0 0px;
                                width: 40px;
                                height: 40px;
                            }
                        }

                        .donut-value {
                            font-size: rem(14);
                            font-weight: $font-weight-medium;
                            display: inline-block;
                            float: lright;
                            margin: 10px 15px 0 10px;

                            @include breakpoint(desktops) {
                                margin: 34px 15 0 0px;
                                font-size: rem(18);
                            }
                        }

                        .title {
                            display: inline-block;
                            margin: 8px 0 8px 0;
                            font-size: rem(14);
                            padding-left: 12px;

                            @include breakpoint(desktops) {
                                font-weight: $font-weight-medium;
                                font-size: rem(18);
                                margin: 8px 0 0px 0;
                                padding-left: 0;
                            }


                            &.aggregate-performance {
                                &:before {
                                    @include breakpoint(desktops) {
                                        content: '';
                                        display: inline-block;
                                        margin: 2px 0px 0 10px;
                                        float: right;

                                        @include use-sprite(aggregate_icon);
                                    }
                                }
                            }

                            i {
                                display: none;

                                @include breakpoint(desktops) {
                                    display: initial;
                                }
                            }
                        }

                        &.company {
                            &.name {
                                background: #eee;
                                padding: 6px 12px;
                                clear: both;
                                float: none;
                                position: relative;

                                @include breakpoint(desktops) {
                                    padding: 0 15px 0 0;
                                    text-align: right;
                                    clear: initial;
                                    float: right;
                                    background: none;
                                }


                                span {
                                    font-size: rem(15);
                                    top: -4px;
                                    position: relative;
                                }

                                h2 {
                                    line-height: 26px;
                                    white-space: nowrap;
                                    font-size: rem(20);
                                    padding-right: 0;
                                    text-overflow: ellipsis;
                                    overflow: hidden;

                                    @include breakpoint(desktops) {
                                        width: 300px;
                                        font-size: rem(26);
                                    }
                                }

                                .view-more {
                                    position: absolute;
                                    top: 9px;
                                    left: 12px;
                                }
                            }
                        }
                    }

                    ~ .row {
                        border-bottom: 0;

                        + .row {
                            border-bottom: 1px solid $border-color;
                        }
                    }

                    &.view-more {
                        text-align: center;
                        cursor: pointer;
                        width: 100%;
                        display: block;
                        border: 0 !important;
                        margin-top: -5px;
                        display: none;

                        /*padding: 15px 0 0;*/
                        @include breakpoint(desktops) {
                            display: initial;
                        }
                    }
                }
            }
        }
    }

    &.scroll {
        padding-top: 108px;

        .question.page {
            padding: 10px 0;
            position: fixed;
            z-index: 100;
            top: 0;

            h1 {
                font-size: rem(18);
            }

            .field {
                margin-top: 8px;
                line-height: 25px;
                padding: 0;
                height: 27px;
            }

            .ui.button {
                top: 0;
                padding: 8px 18px;
            }

            .share {
                top: 34%;
            }
        }
    }

    .question[class*="page"] {
        padding: 12px 0;

        @include breakpoint(desktops) {
            background-color: $primary-color;

            @include box-shadow(0 0 20px -10px #000);
        }


        &.fixed {
            z-index: 100;
        }

        .outer {
            max-width: 1200px;
            margin: 0 auto;
        }

        h1 {
            font-size: rem(19);
            line-height: rem(36);
            font-weight: normal;
            color: #000;

            @include breakpoint(desktops) {
                color: $white;
                line-height: rem(44);
            }


            @include transition(all 0.5s ease-in-out);

            .bold {
                font-weight: $font-weight-medium;
            }

            .highlight {
                color: #1b6273;

                .field {
                    background-color: rgba(30, 102, 119, 0.26);
                }
            }

            .ui.default.dropdown:not(.button) > .text, .ui.dropdown:not(.button) > .default.text, .ui.active.search.dropdown input.search:focus + .text {
                color: $white !important;
            }
        }

        .field {
            border-color: transparent;
            padding: 0;
            margin: 3px 0 0 0;
            height: 28px;
            width: auto;
            border-color: $secondary-color !important;
            font-weight: $font-weight-medium;

            @include breakpoint(desktops) {
                background-color: #288aa1;
                border: none;
                border-color: #288aa1 !important;
                color: $white;
                font-weight: initial;
                margin: 8px 0 0 0;
            }


            &:focus {
                @include breakpoint(desktops) {
                    background-color: #288aa1;
                    color: $white;
                }
            }
        }

        .menu {
            font-size: rem(12);
            width: auto;
        }

        .ui.button {
            display: block;
            width: 110px;
            clear: both;
            margin: 10px auto 0;
            position: relative;
            top: -2px;
            color: #000;
            padding: 7px 12px 0 14px;
            height: 28px;
            font-size: rem(14);

            @include border-radius(rem(20));

            background-color: #dadada;
            cursor: default;
            color: #a7a5a5;

            @include transition(all 0.5s ease-in-out);

            &.active {
                background-color: $secondary-color;
                cursor: pointer;
                color: #000;
            }

            @include breakpoint(desktops) {
                display: inline-block;
                width: auto;
                clear: none;
                margin: 0 2px 0 0px;

                @include border-radius(rem(6));
            }
        }

        .share {
            position: absolute;
            top: 39%;
            left: 25px;
            color: $white;
            cursor: pointer;
            font-size: rem(17);
            display: none;

            @include border-radius(3px);

            @include breakpoint(desktops) {
                display: initial;
            }


            &:hover {
                > i {
                    @include opacity(0.6);
                }
            }

            .list {
                display: none;
                position: absolute;
                z-index: 100;
                top: 26px;
                background-color: #fff;
                text-align: right;
                left: 0;
                padding: 10px 0;

                @include border-radius(3px);

                @include box-shadow(1px 2px 6px -4px #000);

                .head {
                    color: #000;
                    font-weight: $font-weight-medium;
                    font-size: rem(18);
                    padding: 5px 20px 10px;
                }

                ul {
                    margin: 0;
                    padding: 0;
                }

                li {
                    display: block;

                    .fa {
                        margin-left: 6px;
                    }

                    a {
                        display: block;
                        white-space: nowrap;
                        padding: 8px 20px;
                        font-size: rem(14);
                        font-weight: $font-weight-regular;
                        color: #000;

                        &:hover {
                            background-color: #fafafa;

                            > [class*="facebook"] {
                                color: #3F589B;
                            }

                            > [class*="twitter"] {
                                color: #42C0FB;
                            }

                            > [class*="linkedin"] {
                                color: #007AB9;
                            }

                            > [class*="google"] {
                                color: #DD4C3B;
                            }
                        }
                    }
                }
            }
        }
    }

    .page-head {
        padding: 12px 0;
        background-color: $primary-color;

        @include box-shadow(0 0 20px -10px #000);

        &.fixed {
            z-index: 100;
        }

        .outer {
            max-width: 1200px;
            margin: 0 auto;
        }

        h1 {
            font-size: rem(48);
            line-height: rem(72);
            font-weight: normal;
            color: $white;
        }
    }

    .page.filters {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: initial;
        z-index: 98;
        background: #fff;
        padding: 1em;

        @include breakpoint(desktops) {
            width: 250px;
            display: initial;
            position: relative;
            z-index: initial;
            padding: 0;
        }


        &.show {
            display: block;
        }

        .ui.container {
            background-color: #fff;
            position: relative;

            @include breakpoint(desktops) {
                @include border-radius(5px);

                @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.07));

                padding-bottom: rem(8);
            }


            .content {
                padding: 0 0 0 rem(14);
            }

            .filter-button {
                bottom: 0px;
                left: 0;
                right: 0;
                display: block;
                text-align: center;
                background: #fff;
                padding: 20px;

                .button {
                    float: none;
                    width: 100%;
                    background: $secondary-color;
                    font-size: rem(20);
                    border-radius: 100px;
                }

                @include breakpoint(desktops) {
                    display: none;
                }
            }
        }

        .ui.accordion {
            .active.title {
                .dropdown.icon {
                    font-size: rem(15);
                }
            }
        }

        .ui.styled.accordion {
            @include border-radius(0);

            width: auto;
            box-shadow: none;
            border-top: 1px solid #e8e8e8;
            padding: 6px 0;

            @include breakpoint(desktops) {
                margin: 0 20px;
            }


            .title {
                border: 0;
                padding: 6px;
            }

            > .item {
                @include breakpoint(upto-tablets) {
                    font-size: rem(16);
                }


                > .title .dropdown {
                    float: left;
                    margin: 1px 0px 0 7px;
                    width: 4px;
                    font-size: rem(15);
                }
            }
        }

        .ui.list {
            margin: 0;
            padding: 0 0 rem(12) rem(14);

            a.item {
                @include breakpoint(upto-tablets) {
                    padding: rem(10) 0;
                }
            }

            .list {
                a.item {
                    padding: 6px 0;
                }
            }
        }

        .button.basic {
            padding: 5px 10px;
            margin: 0 1px 3px 0px;
        }

        &.resize-left-column {
            @include breakpoint(desktops) {
                float: $left;
                box-sizing: border-box;
                z-index: 3;
                height: auto !important;
            }
        }

        .scroll {
            height: 100%;
            background-color: $white;

            @include box-shadow(0 12px 18px -10px #000);

            &:hover {
                overflow-y: auto;
            }
        }

        .header {
            color: $black;
            font-weight: $font-weight-medium;
            letter-spacing: 0.5px;
            font-size: rem(18);
            line-height: rem(35);
            position: relative;

            @include border-radius(6px 6px 0 0);

            @include breakpoint(desktops) {
                padding: 5px 20px 2px;
            }
        }

        .field {
            padding: 3px 0;

            @include breakpoint(upto-tablets) {
                padding: rem(10) 0;
                font-size: rem(16);
            }
        }
    }

    .ui[class*="content container"] {
        .content-holder {
            height: 100%;
            float: $right;
            position: relative;

            @include breakpoint(desktops) {
                width: 938px;
            }


            .sidebar-toggler-arrow {
                font-size: rem(16);
                cursor: pointer;
                background: $dark-gray;

                @include border-radius(4px 0 0 4px);

                position: absolute;
                top: 36px;
                height: 25px;
                width: 15px;
                right: -11px;
                z-index: 3;
                display: none;

                @include breakpoint(desktops) {
                    display: initial;
                }


                &:before {
                    color: #000;
                    position: relative;
                    top: 4px;
                    right: 4px;
                }

                &:hover {
                    @include opacity(0.6);
                }
            }
        }

        &.no-side-bar {
            .filters {
                display: none;
            }

            .content-holder {
                width: 100% !important;

                @include transition(all ease 0.2s);
            }

            .sidebar-toggler-arrow {
                right: -30px;
                top: 46px;
                width: 20px;
                background-color: #fff;

                @include border-radius(5px);

                @include box-shadow(3px 3px 6px -5px #000);

                &:before {
                    content: '\f0da';
                    right: 8px;
                }
            }
        }
    }

    .chart-toolbar {
        a {
            color: #666;
            font-size: rem(15);
            float: left;
            margin: 7px 15px 0 0px;

            &:hover {
                @include opacity(0.6);
            }
        }

        .sorting {
            float: left;
            background: #f7f7f7;
            padding: 2px;

            @include border-radius(3px);

            label {
                margin: 2px -65px 0 0px;
                background-color: #fff;
            }

            .ui.dropdown {
                min-width: 68px;
                padding: 6px 15px;
                min-height: 15px;
            }

            .count {
                float: right;
                margin: 4px 8px 0 8px;
            }
        }
    }

    .ui.table {
        .ui.tag.labels .label {
            background-color: lighten(#21BA45, 30%);

            &:nth-child(2n) {
                background-color: lighten(#21BA45, 20%);
            }

            &:nth-child(3n) {
                background-color: lighten(#21BA45, 10%);
            }

            &:nth-child(4n) {
                background-color: #21BA45;
            }
        }

        .date-periods {
            .more {
                padding: 4px 6px 0 0px;
                display: inline-block;
            }
        }

        .ui.label.date-period {
            background-color: #fff;
            cursor: default;
            position: relative;
            padding: 0;
            float: right;
            margin: rem(2);

            > div {
                float: right;
                padding: 6px;
                white-space: nowrap;
                width: 70px;
                position: relative;
            }

            .first {
                @include border-radius(3px 0 0 3px);
            }

            .last {
                @include border-radius(0 3px 3px 0);
            }

            i {
                position: absolute;
                right: -5px;
                width: 8px;
                display: inline-block;
            }
        }

        .performance.popup {
            background-color: #fff;
            border-color: #e4e4e4;

            .grid {
                margin: -11px;

                > .column {
                    padding: 10px 12px;

                    .header {
                        margin-bottom: 8px;
                        padding: 0;
                        font-size: rem(12);
                    }

                    .none {
                        font-size: rem(18);
                        color: #000 !important;

                        &:before {
                            display: none !important;
                        }
                    }
                }
            }
        }

        &.heat {
            .probability {
                background-color: #f7f7f7;
            }

            .avg-perfomance {
                td {
                    border-color: #ddd;
                }
            }

            .year-performance {
                border-right: 1px solid #ededed;
            }

            tr {
                td {
                    padding: 6px;

                    &.block-holder {
                        .block {
                            background-color: #eee;
                            display: block;
                            padding: 0 12%;
                            font-size: rem(14);
                            min-height: 36px;
                            line-height: 36px;
                            text-align: center;

                            @include border-radius(3px);
                        }
                    }

                    .perfrom-title {
                        display: block;
                        margin: 0 auto;
                    }

                    &.donut-holder {
                        .donut {
                            width: 48px;
                            height: 48px;
                            margin: 10px auto 10px auto;
                        }

                        span {
                            margin: 0px 0 5px 0;
                            display: block;
                            text-align: center;
                            font-weight: $font-weight-medium;
                        }
                    }

                    &.value-arrow {
                        font-weight: $font-weight-medium;
                    }
                }

                &:first-child {
                    td {
                        padding-top: .9em !important;
                    }
                }
            }
        }

        td {
            &.aggregate-chart-col {
                padding: 0;
                width: 35%;

                .column {
                    height: auto;

                    &.down:before {
                        left: 0;
                        top: 10px;
                        bottom: 10px;
                    }

                    &.down:after {
                        border-width: 10px;
                        border-left-width: 0;
                        border-right-width: 7px;
                        left: 0;
                        top: 10px;
                    }

                    &.up:before {
                        right: 0;
                        top: 10px;
                        bottom: 10px;
                    }

                    &.up:after {
                        border-width: 10px;
                        border-right-width: 0;
                        border-left-width: 7px;
                        right: 0;
                        top: 10px;
                    }

                    .arrow {
                        height: 20px;
                        margin: 10px 0;

                        .value {
                            font-size: rem(12);
                            top: 3px;
                        }
                    }

                    &.up {
                        padding-right: 10px;

                        .arrow {
                            .value {
                                margin-left: 13px;
                            }

                            &:after {
                                border-top-width: 10px;
                                border-bottom-width: 10px;
                                border-left: 7px solid $green;
                                left: 100%;
                            }
                        }
                    }

                    &.down {
                        padding-left: 10px;

                        .arrow {
                            .value {
                                margin-right: 13px;
                            }

                            &:after {
                                border-top-width: 10px;
                                border-bottom-width: 10px;
                                border-right: 7px solid $red;
                                right: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .grid.home {
        .content {
            .header {
                margin: -6px 0px 0;
                padding: 14px 0px 12px 0px;
                font-size: rem(20);
                font-weight: $font-weight-medium;

                @include breakpoint(desktops) {
                    font-size: rem(16);
                    margin: -20px -20px 0;
                    padding: 14px 20px 12px 20px;
                }
            }

            .row {
                border-top: 1px solid $border-color;
                padding: 10px 0;
                border-top: none;

                @include breakpoint(desktops) {
                    border-top: 1px solid $border-color;
                }


                + .row {
                    border-top: 1px solid $border-color;
                }
            }
        }

        .segment {
            box-shadow: none;
            width: 100%;
            margin: 0;
        }

        .watchlist {
            .row {
                .name {
                    font-size: rem(18);

                    @include breakpoint(desktops) {
                        font-size: rem(16);
                    }


                    @include breakpoint(small-mobiles) {
                        font-size: rem(16);
                    }


                    @include breakpoint(upto-tablets) {
                        color: #000;
                    }


                    strong {
                        position: relative;
                        display: block;

                        @include breakpoint(desktops) {
                            display: inline-block;
                        }


                        .count {
                            position: absolute;
                            background-color: #4fadc5;
                            color: #fff;
                            border-radius: 5px;
                            padding: 3px 5px 3px 5px;
                            line-height: 12px;
                            font-size: rem(12);
                            left: 0;
                            margin: 0 5px 0 0px;
                            font-weight: normal;
                            text-align: center;

                            @include breakpoint(desktops) {
                                right: 100%;
                                left: auto;
                            }
                        }
                    }
                }

                .sector {
                    padding: 2px 0 0;
                    display: none;

                    @include breakpoint(desktops) {
                        display: block;
                    }
                }

                .value {
                    padding: 4px 0 0;

                    .change {
                        margin: 0 5px 0 0px;

                        &.no-change {
                            color: #333;
                        }
                    }
                }
            }
        }

        .notification-feeds {
            .column {
                @include breakpoint(upto-tablets) {
                    padding-top: 0;
                    padding-bottom: 0;
                }


                &.date-divider {
                    span {
                        @include breakpoint(upto-tablets) {
                            background: #f2f2f2;
                            display: block;
                            padding: 5px;
                            color: #666;
                            margin: 0 -1em -1px;
                            border-bottom: 1px solid $gray;
                        }
                    }
                }

                .total-number {
                    font-size: rem(16);
                    font-weight: $font-weight-medium;

                    @include breakpoint(desktops) {
                        font-weight: initial;
                    }


                    @include breakpoint(small-mobiles) {
                        font-size: rem(14);
                    }
                }

                &.feed {
                    .segment {
                        position: relative;
                        padding: 14px 20px 16px 20px;

                        @include breakpoint(upto-tablets) {
                            border-radius: 0;
                            padding: 10px 0;
                            border-top: 1px solid $gray;
                        }


                        .time {
                            color: gray;
                            display: inline-block;
                            font-size: rem(12);
                            font-weight: normal;
                            padding-left: 9px;
                            height: 10px;
                            line-height: 9px;

                            @include breakpoint(desktops) {
                                border-left: 1px solid #bfbfbf;
                            }
                        }

                        p {
                            margin: 5px 0 0;
                        }

                        &.red {
                            &:not(.inverted) {
                                position: relative;

                                &:after {
                                    width: 4px;
                                    position: absolute;
                                    right: -13px;
                                    top: -1px;
                                    bottom: -1px;
                                    content: '';
                                    background: $red;
                                    margin: 0px 0;

                                    @include breakpoint(desktops) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    .feed-head {
                        font-size: rem(18);
                        position: relative;
                        color: #000;
                        line-height: normal;
                        cursor: default;
                        font-weight: $font-weight-medium;

                        @include breakpoint(desktops) {
                            font-weight: normal;
                            font-size: rem(17);
                        }


                        @include breakpoint(small-mobiles) {
                            font-size: rem(16);
                            line-height: rem(22);
                        }


                        .label {
                            margin-left: 8px;
                            position: relative;
                            top: -2px;
                        }
                    }

                    .info {
                        padding-top: 5px;
                    }

                    .details {
                        font-weight: normal;
                        font-size: 1rem;
                        margin-right: 8px;
                        display: none;

                        &:hover {
                            color: $secondary-color;
                        }

                        @include breakpoint(desktops) {
                            display: inline-block;
                        }
                    }

                    .image {
                        max-width: 100%;
                        display: block;
                    }
                }
            }
        }

        .questions {
            .row {
                margin: 0;
                padding: 0;

                .time {
                    display: block;
                    color: #666;
                    font-weight: normal;
                    font-size: rem(12);
                    padding: 2px 0 0 0;
                }

                h2 {
                    font-size: rem(18);
                    font-weight: $font-weight-medium;

                    @include breakpoint(desktops) {
                        font-size: 1.2rem;
                    }


                    @include breakpoint(small-mobiles) {
                        font-size: rem(16);
                        line-height: rem(22);
                    }


                    a {
                        color: #000;
                        display: block;
                        padding: 10px 0;

                        @include breakpoint(desktops) {
                            padding: 15px 0;
                        }


                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }

                &:last-child {
                    margin-bottom: -20px;
                }
            }
        }
    }

    .consecutive-rally {
        .fa-circle {
            font-size: rem(11);

            &.green, &.red {
                font-size: rem(16);
            }
        }
    }

    .prog-wrapper {
        padding-left: 25px;
        height: 12px;

        .prog-bar {
            width: 100%;
            display: block;
            border-radius: 3px;
            height: 12px;
            position: relative;
            background-color: $primary-color;

            .prog-text {
                position: absolute;
                right: 101%;
                top: -4px;
                display: inline-block;
                white-space: nowrap;
                padding-right: 3px;
            }
        }
    }

    .ui {
        &.grid {
            .column {
                &.selected-tags {
                    display: none;

                    @include breakpoint(desktops) {
                        display: initial;
                    }


                    .ui.label {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    .overlay-container {
        .overlay-header {
            @include breakpoint(upto-tablets) {
                border-bottom: 1px solid #eee;
                margin-bottom: -1px;
                padding-bottom: 10px;
            }


            .overlay-title {
                color: $black;
                font-weight: $font-weight-medium;
                letter-spacing: 0.5px;
                font-size: rem(18);
                line-height: rem(35);

                @include breakpoint(upto-tablets) {
                    font-size: rem(16);
                    font-weight: $font-weight-medium;
                }
            }

            .close {
                background: none;
                border: none;
                margin: 3px 0px 0 0;
                font-size: rem(22);
                padding: 0;
                width: 20px;
                height: 20px;
                line-height: 20px;
                color: #000;

                @include breakpoint(desktops) {
                    display: none;
                }
            }
        }
    }
}