.fintech {
    .ui-resizable {
        position: relative;
    }

    .q7 {
        .row > {
            .column {
                &:last-child {
                    padding: 0 200px 0 0 !important;

                    .title {
                        margin-left: -200px !important;
                    }
                }
            }
        }
    }

    .ui-resizable-handle {
        position: absolute;
        font-size: 0.1px;
        display: block;
    }

    .ui-resizable-e {
        cursor: e-resize;
        width: 10px;
        right: -15px;
        top: 40px;
        height: 35px;
        width: 15px;
        background: #fff;

        @include border-radius(0 5px 5px 0);

        @include box-shadow(3px 5px 6px -5px #000);

        &:before {
            position: absolute;
            content: '';
            height: 60%;
            right: 5px;
            margin-top: 7px;
            border-left: 1px solid #cccccc;
            padding-left: 1px;
            border-right: 1px solid #cccccc;
        }

        &:after {
            position: absolute;
            content: '';
            height: 60%;
            right: 9px;
            margin-top: 7px;
            border-left: 1px solid #cccccc;
        }

        &:hover {
            background-color: #e6e6e6;

            &:before, &:after {
                border-color: #aeaeae;
            }
        }
    }

    > .ui.content.container {
        padding: 16px 0 20px 0;
        max-width: 1200px !important;
        position: relative;
    }

    .column > .content {
        background-color: #fff;
        padding: 22px;

        @include border-radius(6px);

        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.07));

        &.event-aggregate-chart {
            > .row {
                border: 1px solid $borderColor;

                &.head {
                    height: 40px;
                    border: 0;

                    > .column {
                        height: inherit;
                    }
                }

                > .column {
                    text-align: center;
                    height: 70px;
                    width: 200px;

                    &:first-child {
                        padding: 35px 0 0 22px;
                        text-align: left;
                        font-size: 15px;
                    }

                    &:last-child {
                        width: auto;
                        border: none;
                        padding: 0 200px;
                    }

                    &.no-border {
                        border: none;
                    }

                    span {
                        display: inline-block;

                        + span {
                            font-weight: 700;
                        }
                    }

                    .donut-holder {
                        width: 40px;
                        height: 40px;
                        margin: 0 auto;
                        float: left;
                        margin: 14px 0 0 45px;
                    }

                    .donut-value {
                        font-size: 18px;
                        font-weight: 700;
                        display: inline-block;
                        float: left;
                        margin: 34px 0 0 15px;
                    }

                    .title {
                        display: inline-block;
                        margin: 8px 0 0 0;
                        font-size: 18px;
                        font-weight: $font-weight-medium;

                        &.aggregate-performance {
                            &:before {
                                content: '';
                                display: inline-block;
                                margin: 2px 10px 0 0;
                                float: left;

                                @include use-sprite(aggregate_icon);
                            }
                        }
                    }

                    &.company {
                        &.name {
                            padding: 0 15px 0 0;
                            text-align: left;

                            h2 {
                                line-height: 26px;
                                white-space: nowrap;
                                font-size: rem(26);
                                padding-left: 0;
                                width: 320px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }
                }

                ~ .row {
                    border-bottom: 0;

                    + .row {
                        border-bottom: 1px solid $borderColor;
                    }
                }

                &.view-more {
                    text-align: center;
                    cursor: pointer;
                    width: 100%;
                    display: block;
                    border: 0 !important;
                    padding: 15px 0 0;
                }
            }

            &.clickable {
                &:hover {
                    border: 1px solid $secondaryColor;

                    .view-more {
                        background-color: lighten($secondaryColor, 42%);

                        @include border-radius(0 0 6px 6px);

                        color: #000;
                        height: auto;
                        font-size: 14px;
                        padding: 10px 0;
                        line-height: 18px;
                        font-size: 14px;
                        width: 100%;

                        &:hover {
                            background-color: lighten($secondaryColor, 46%);
                        }
                    }
                }
            }
        }
    }

    &.scroll {
        padding-top: 108px;

        .question.page {
            padding: 10px 0;
            position: fixed;
            z-index: 100;
            top: 0;

            h1 {
                font-size: rem(18);
            }

            .field {
                margin-top: 8px;
                line-height: 25px;
                padding: 0;
                height: 27px;
            }

            .ui.button {
                top: 0;
                padding: 8px 18px;
            }

            .share {
                top: 34%;
            }
        }
    }

    .question[class*="page"] {
        padding: 15px 0;
        background-color: $primaryColor;

        @include box-shadow(0 0 20px -10px #000);

        &.fixed {
            z-index: 100;
        }

        .outer {
            max-width: 1200px;
            margin: 0 auto;
        }

        h1 {
            font-size: rem(24);
            line-height: rem(44);
            font-weight: normal;
            color: $white;

            @include transition(all 0.5s ease-in-out);

            .bold {
                font-weight: $font-weight-medium;
            }

            .highlight {
                color: #1b6273;

                .field {
                    background-color: rgba(30, 102, 119, 0.26);
                }
            }

            .ui.default.dropdown:not(.button) > .text, .ui.dropdown:not(.button) > .default.text, .ui.active.search.dropdown input.search:focus + .text {
                color: $white !important;
            }
        }

        .field {
            background-color: #288aa1;
            border-color: transparent;
            padding: 0;
            margin: 5px 0 0 0;
            height: 34px;
            width: auto;
            color: $white;
            border-color: #288aa1 !important;

            &:focus {
                background-color: #288aa1;
                color: $white;
            }
        }

        .menu {
            font-size: 12px;
        }

        .ui.button {
            display: inline-block;
            margin: 0 0 0 2px;
            position: relative;
            top: -4px;
            color: #000;
            padding: 12px 18px;
            font-size: rem(16);

            @include border-radius(rem(100));

            background-color: #dadada;
            cursor: default;
            color: #a7a5a5;

            @include transition(all 0.5s ease-in-out);

            &.active {
                background-color: $secondaryColor;
                cursor: pointer;
                color: #000;
            }
        }

        .share {
            position: absolute;
            top: 45%;
            right: 25px;
            color: $white;
            cursor: pointer;
            font-size: 17px;

            @include border-radius(3px);

            &:hover {
                > i {
                    @include opacity(0.6);
                }
            }

            .list {
                display: none;
                position: absolute;
                top: 26px;
                background-color: #fff;
                text-align: left;
                right: 0;
                padding: 10px 0;

                @include border-radius(3px);

                @include box-shadow(1px 2px 6px -4px #000);

                .head {
                    color: #000;
                    font-weight: $font-weight-medium;
                    font-size: rem(18);
                    padding: 5px 20px 10px;
                }

                ul {
                    margin: 0;
                    padding: 0;
                }

                li {
                    display: block;

                    .fa {
                        margin-right: 6px;
                    }

                    a {
                        display: block;
                        white-space: nowrap;
                        padding: 8px 20px;
                        font-size: rem(14);
                        font-weight: $font-weight-regular;
                        color: #000;

                        &:hover {
                            background-color: #fafafa;

                            > [class*="facebook"] {
                                color: #3F589B;
                            }

                            > [class*="twitter"] {
                                color: #42C0FB;
                            }

                            > [class*="linkedin"] {
                                color: #007AB9;
                            }

                            > [class*="google"] {
                                color: #DD4C3B;
                            }
                        }
                    }
                }
            }
        }
    }

    .page.filters {
        width: 250px;
        padding-top: 4px;

        .ui.container {
            background-color: #fff;
            position: relative;

            @include border-radius(5px);

            @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.07));

            padding-bottom: rem(8);

            .content {
                padding: 0 0 0 rem(14);
            }
        }

        .ui.accordion {
            .active.title {
                .dropdown.icon {
                    font-size: rem(15);
                }
            }
        }

        .ui.styled.accordion {
            @include border-radius(0);

            margin: 0 20px;
            width: auto;
            box-shadow: none;
            border-top: 1px solid #e8e8e8;
            padding: 6px 0;

            .title {
                border: 0;
                padding: 6px;
            }

            > .item {
                /*> .content {
                    padding-bottom: 12px;
                }*/

                > .title .dropdown {
                    float: left;
                    margin: 1px 7px 0 0;
                    width: 4px;
                    font-size: rem(15);
                }
            }
        }

        .ui.list {
            margin: 0;
            padding: 0 0 rem(12) rem(14);

            .list {
                a.item {
                    padding: 6px 0;
                }
            }
        }

        .button.basic {
            padding: 5px 10px;
            margin: 0 0 3px 1px;
        }

        &.resize-left-column {
            float: $left;
            box-sizing: border-box;
            z-index: 3;
            height: auto !important;
        }

        .scroll {
            height: 100%;
            background-color: $white;

            @include box-shadow(0 12px 18px -10px #000);

            &:hover {
                overflow-y: auto;
            }
        }

        .header {
            color: $black;
            font-weight: 700;
            letter-spacing: 0.5px;
            font-size: rem(18);
            line-height: rem(35);
            padding: 5px 20px 2px;
            position: relative;

            @include border-radius(6px 6px 0 0);
        }

        .field {
            padding: 3px 0;
        }
    }

    .ui[class*="content container"] {
        .content-holder {
            height: 100%;
            width: 930px;
            float: $right;

            .sidebar-toggler-arrow {
                font-size: rem(16);
                cursor: pointer;
                background: #d4d2d2;

                @include border-radius(0 4px 4px 0);

                position: absolute;
                top: 25px;
                height: 25px;
                width: 15px;
                left: 250px;

                &:before {
                    color: #000;
                    position: relative;
                    top: 4px;
                    left: 4px;
                }

                &:hover {
                    @include opacity(0.6);
                }
            }
        }

        &.no-side-bar {
            .filters {
                display: none;
            }

            .content-holder {
                width: 100% !important;

                @include transition(all ease 0.2s);
            }

            .sidebar-toggler-arrow {
                left: -17px;
                top: 25px;
                width: 20px;
                background-color: #fff;

                @include border-radius(5px);

                @include box-shadow(3px 3px 6px -5px #000);

                &:before {
                    content: '\f0da';
                    left: 8px;
                }
            }
        }
    }

    .chart-toolbar {
        a {
            color: #666;
            font-size: rem(15);
            float: right;
            margin: 7px 0 0 15px;

            &:hover {
                @include opacity(0.6);
            }
        }

        .sorting {
            float: right;
            background: #f7f7f7;
            padding: 2px;

            @include border-radius(3px);

            label {
                margin: 2px 0 0 -65px;
                background-color: #fff;
            }

            .ui.dropdown {
                min-width: 68px;
                padding: 6px 15px;
                min-height: 15px;
            }

            .count {
                float: left;
                margin: 4px 8px 0 8px;
            }
        }
    }

    .ui.table {
        .ui.tag.labels .label {
            background-color: lighten(#21BA45, 30%);

            &:nth-child(2n) {
                background-color: lighten(#21BA45, 20%);
            }

            &:nth-child(3n) {
                background-color: lighten(#21BA45, 10%);
            }

            &:nth-child(4n) {
                background-color: #21BA45;
            }
        }

        .date-periods {
            .more {
                padding: 4px 0 0 6px;
                display: inline-block;
            }
        }

        .ui.label.date-period {
            background-color: #fff;
            cursor: default;
            position: relative;
            padding: 0;
            float: left;
            margin: rem(2);

            > div {
                float: left;
                padding: 6px;
                white-space: nowrap;
                width: 70px;
                position: relative;
            }

            .first {
                @include border-radius(3px 0 0 3px);
            }

            .last {
                @include border-radius(0 3px 3px 0);
            }

            i {
                position: absolute;
                left: -5px;
                width: 8px;
                display: inline-block;
            }
        }

        .performance.popup {
            background-color: #fff;
            border-color: #e4e4e4;

            .grid {
                margin: -11px;

                > .column {
                    padding: 10px 12px;

                    .header {
                        margin-bottom: 8px;
                        padding: 0;
                        font-size: 12px;
                    }

                    .none {
                        font-size: 18px;
                        color: #000 !important;

                        &:before {
                            display: none !important;
                        }
                    }
                }
            }
        }

        &.heat {
            .probability {
                background-color: #f7f7f7;
            }

            .avg-perfomance {
                td {
                    border-color: #ddd;
                }
            }

            .year-performance {
                /*background: url(themes/default/assets/images/arrow-shadow.png) no-repeat -32px -4px;*/

                border-left: 1px solid #ededed;
            }

            tr {
                td {
                    padding: 6px;

                    &.block-holder {
                        .block {
                            background-color: #eee;
                            display: block;
                            padding: 0 12%;
                            font-size: 14px;
                            min-height: 36px;
                            line-height: 36px;
                            text-align: center;

                            @include border-radius(3px);
                        }
                    }

                    .perfrom-title {
                        display: block;
                        margin: 0 auto;
                    }

                    &.donut-holder {
                        .donut {
                            width: 48px;
                            height: 48px;
                            margin: 10px auto 10px auto;
                        }

                        span {
                            margin: 0px 0 5px 0;
                            display: block;
                            text-align: center;
                            font-weight: $font-weight-medium;
                        }
                    }

                    &.value-arrow {
                        font-weight: 700;
                    }

                    /*.prob-title {
                        @include rotate(-90deg);

                        position: absolute;
                        top: 48px;
                        left: 9px;
                    }*/
                }

                &:first-child {
                    td {
                        padding-top: .9em !important;
                    }
                }
            }
        }

        td {
            &.aggregate-chart-col {
                padding-top: 0;
                padding-bottom: 0;

                .column {
                    height: auto;

                    .arrow {
                        height: 20px;
                        margin: 10px 0;

                        .value {
                            font-size: 12px;
                            top: 3px;
                        }
                    }

                    &.up {
                        padding-right: 10px;

                        .arrow {
                            .value {
                                margin-left: 13px;
                            }

                            &:after {
                                border-top: 10px solid #fff;
                                border-bottom: 10px solid #fff;
                                border-left: 7px solid $green;
                                right: -6px;
                            }
                        }
                    }

                    &.down {
                        padding-left: 10px;

                        .arrow {
                            .value {
                                margin-right: 13px;
                            }

                            &:after {
                                border-top: 11px solid #fff;
                                border-bottom: 10px solid #fff;
                                border-right: 7px solid $red;
                                left: -6px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.consecutive-rally {
    .fa-check-circle {
        font-size: rem(16);
    }
}

.aggregate-chart {
    width: 100%;

    .column {
        width: 50%;
        float: left;
        height: 80px;

        .arrow {
            height: 50px;
            margin: 16px 0;
            position: relative;
            max-width: 100% !important;
            -webkit-animation: w70 1s ease forwards;

            &:after {
                border-left-width: 15px;
                border-top-width: 25px;
                border-bottom-width: 25px;
                border-right-width: 15px;
                border-style: solid;
                border-top-color: #fff;
                border-bottom-color: #fff;
                position: absolute;
                top: 0px;
            }

            .value {
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                display: inline-block;
                height: 19px;
                font-size: rem(26);
                white-space: nowrap;
                fomt-weight: $font-weight-light;
            }
        }

        &.no-change {
            color: #000;
            border-right: 4px solid #ccc;
            right: -4px;
            position: relative;

            .arrow {
                width: 100% !important;

                .value {
                    right: auto;
                    left: 100%;
                    padding-left: 10px;
                }
            }
        }

        &.up {
            float: right;
            border-left: 4px solid $green;
            left: -3px;

            .arrow {
                background: $green;

                &:after {
                    content: "";
                    width: 0;
                    height: 0px;
                    border-left-color: $green;
                    border-right: 0;
                    right: -13.5px;
                }

                .value {
                    color: $green;
                    right: 100%;
                    left: auto;
                    padding-right: 10px;
                }
            }
        }

        &.down {
            border-right: 4px solid $red;
            position: relative;
            right: -4px;

            .arrow {
                background: $red;
                float: right;

                &:after {
                    content: "";
                    width: 0;
                    height: 0px;
                    border-right-color: $red;
                    border-left: 0;
                    left: -13.5px;
                }

                .value {
                    color: $red;
                    left: 100%;
                    right: auto;
                    padding-left: 10px;
                }
            }
        }
    }
}