/* Colors */
$primary-color: #4faec5;
$secondary-color: #f0ac09;

$black: #000;
$white: #fff;

$heatRed: #ee0101;
$heatGreen: #26a046;

$red: #ff333a;
$green: #00a651;
$light-gray: #f7f7f7;
$gray: #cccccc;
$dark-gray: #cdcdcd;
$border-color: #ededed;

/*Breakpoints*/
$desktops-width: 1200px;
$laptops-width: 992px;
$tablets-width: 768px;
$mobiles-width: 768px;

/*Font weight*/
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 700;
$font-weight-bold: 900;

/*element values*/
$left: left;
$right: right;

/*fonts*/
$fontAwesome: "Icons";
$base-font-size: 13;