/* Colors */
$primaryColor: #4faec5;
$secondaryColor: #f0ac09;
$black: #000;
$white: #fff;
$heatRed: #ee0101;
$heatGreen: #26a046;

/*Breakpoints*/
$desktops-width: 1200px;
$laptops-width: 992px;
$tablets-width: 768px;
$mobiles-width: 768px;

/*element values*/
$left: left;
$right: right;

/*fonts*/
$fontAwesome: "Icons";
$primaryFontRegular: "Roboto", sans-serif;
$pageFont: $primaryFontRegular, sans-serif;
$fontSize: 13px;
$borderColor: rgba(34, 36, 38, 0.15);