/* Colors */
$primary-color: #011B37;
$secondary-color: #1D7CFF;
$secondary-color-2: #FCAF17;
$question-head: #34495F;
$custom-notification: #C4DDFF;
$black: #000;
$white: #fff;

$heatRed: #ee0101;
$heatGreen: #26a046;

$red: #ff333a;
$green: #00a651;
$light-gray: #f7f7f7;
$gray: #cccccc;
$dark-gray: #cdcdcd;
$border-color: #ededed;
$ui-input-bg: #ebebeb;

/*Breakpoints*/
$desktops-width: 769px;
$tablets-width: 768px;
$small-mobiles-width: 400px;

/*Font weight*/
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 700;
$font-weight-bold: 900;

/*fonts*/
$fontAwesome: "Icons";
$base-font-size: 13;

/*English Fonts*/
$base-font: "Maven Pro", sans-serif;

/*Arabic fonts*/
$font-ar: Fintech_Arabic_Regular;
$font-ar-bold: Fintech_Arabic_Bold;

/*z-indexes*/
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;
$z-index-7: 7;
$z-index-8: 8;
$z-index-9: 9;