@import "../variables.scss";
@import "compass/css3";

.fintech {
    .question[class*="page"] {
        .ui.search.selection.dropdown > input.search {
            font-family: $primaryFontBold;
        }
    }

    > .top .country-selection {
        .ui.selection.dropdown {
            color: $white;

            @include transition(width, ease 0.5s);
        }

        .ui.default.dropdown:not(.button) > .text, .ui.dropdown:not(.button) > .default.text {
            color: $white;
        }
    }
}