@import "../globals/variables.scss";
@import "compass/css3";

.ui.checkbox input:checked:focus ~ .box:after, .ui.checkbox input:checked:focus ~ label:after, .ui.checkbox input:not([type=radio]):indeterminate:focus ~ .box:after, .ui.checkbox input:not([type=radio]):indeterminate:focus ~ label:after {
    color: $secondaryColor;
}

.fintech {
    > .top .country-selection {
        .ui.selection.dropdown {
            color: $white;

            @include transition(width, ease 0.5s);
        }
    }

    .ui.dropdown.multilevel {
        @include border-radius(6px);

        border: 1px solid transparent;

        .menu {
            width: 100%;
        }

        > .dropdown.icon {
            right: 8px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 4px;
            font-size: 1rem;
        }
    }

    /* Hover */
    .ui.dropdown:hover {
        border-color: $secondaryColor;
    }
}